services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tc_react_api
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    stdin_open: true
    tty: true

